/* The '/' is the CSS content alternative-text for AT */
a.ext:not(:empty)::after {
  content: '\2197' / 'external link';
  margin-left: 0.15em;
  font-size: 0.85em;
  color: var(--muted);
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  a.ext:not(:empty)::after {
    transition: opacity 0.2s ease-in-out;
  }
}
